#education {
    top: 15vh;
    height: 75vh;
}
#education.off {
    margin-left: -120vw;
}
#education .content-container {
    overflow-y: auto;
    max-height: 65vh;
    margin-top: 10px;
}
.total-exp {
    background: #5c0d20;
    border-radius: 15px;
    padding: 5px 20px;
    width: fit-content;
    color: #c8dfd8;
    font-size: 18px;
    margin: auto;
}

@media (max-width: 860px) {
    #education {
        top: 15vh;
        width: 94vw;
        left: 0vw;
        margin: 0;
    }
}
