#welcome {
    top: 22vh;
}
#welcome.off {
    margin-left: -110vw;
}
#welcome .content-container {
    font-family: "Alfa Slab One", cursive;
    justify-content: space-around;
    margin: 20px;
    flex-flow: wrap;
}
.welcome-content {
    font-size: 4rem;
}
.welcome-name {
    font-size: 5rem;
    font-weight: 600;
}
.welcome-caption {
    font-size: 1.3rem;
    color: #d1d1d1;
    opacity: 0.8;
}
.profile-pic {
    width: 400px;
    display: flex;
}
.profile-pic > img {
    width: 250px;
    height: auto;
    border: 5px solid var(--theme-red);
    border-radius: 50%;
}

@media (max-width: 860px) {
    #welcome .content-container {
        justify-content: space-between;
    }
    .welcome-content {
        font-size: 3rem;
    }
    .welcome-name {
        font-size: 4rem;
    }
    .profile-pic > img {
        width: 80%;
        max-width: 300px;
    }
    .waviy {
        display: flex;
    }
}

/* Name Animation*/

.waviy-char {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
}
.waviy-char.animate {
    animation: waviy 0.75s infinite;
    animation-delay: calc(0.1s * var(--i));
}

@keyframes waviy {
    0%,
    40%,
    100% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-20px);
    }
}
