.graph-container {
    display: flex;
    flex-direction: column;
}
.skill-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.skill-bar {
    width: 80%;
    position: relative;
    height: 20px;
    background: #403d3e;
}
.skill-bar-filled {
    position: absolute;
    left: 0;
    height: 100%;
    background: var(--theme-red);
}
.skill-bar-filled .animate {
    width: 90%;
}

.skill-item .title {
    width: 20%;
    font-size: 14px;
    max-width: 20%;
    min-width: 20%;
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: flex-end;

    color: #a6b8b3;
    text-align: right;
    font-style: italic;
    border-right: 1px solid #fd2155;
    padding: 4px;
    padding-left: 0px;
    position: relative;
}

.skill-points {
    position: absolute;
    color: #a6b8b3;
    right: 10px;
    font-style: italic;
}

.point-9 {
    width: 90%;
    transition: width 0.9s;
}
.point-8 {
    width: 80%;
    transition: width 0.8s;
}
.point-7 {
    width: 70%;
    transition: width 0.7s;
}
.point-6 {
    width: 60%;
    transition: width 0.6s;
}
.point-5 {
    width: 50%;
    transition: width 0.5s;
}
.point-4 {
    width: 40%;
    transition: width 0.4s;
}
.width-0 {
    width: 0% !important;
}
