#about.off {
    margin-left: -100%;
}
#about .link {
    width: 100%;
    text-align: center;
    opacity: 0.6;
}
#about .link:hover {
    opacity: 1;
    color: #00ffb5;
}
.name {
    font-size: 26px;
    font-weight: 600;
}
