#about {
    top: 20vh;
    font-size: 24px;
    font-family: "Inconsolata", monospace;
}
#about.off {
    margin-left: -120vw;
}
#about .link {
    width: 100%;
    text-align: center;
}
.name {
    font-size: 26px;
    font-weight: 600;
}

@media (max-width: 860px) {
    #about {
        font-size: 18px;
        color: #c7d9d5;
    }
}
