.header {
    padding: 5px;
    font-size: 30px;
    color: var(--theme-blue);
    text-shadow: 0px 3px 3px #aaa;
    text-transform: uppercase;
    background: #0b352f;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
    margin-top: -40px;
    margin-bottom: 20px;
    padding: 5px 15px;
    border: 5px solid var(--theme-red);
}

.main-view {
    top: 22vh;
    left: 250px;
    margin: 15px;
    color: #eee;
    padding: 15px;
    position: fixed;
    background: #192220;
    font-size: 20px;
    width: 65%;
    transition: margin 0.5s;
    z-index: 80;
}

.highlight {
    font-weight: 300;
    color: var(--theme-red);
}
.main-view > .content {
    line-height: 30px;
    margin: 20px 5px;
}
.link {
    color: var(--theme-blue);
    cursor: pointer;
    opacity: 0.8;
}
.link:hover {
    opacity: 1;
    color: #00ffb5;
}

.content-container {
    max-height: 65vh;
    overflow-y: auto;
}
.content {
    margin: 15px 5px;
}

.mobile-menu-btn {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    color: white;
    padding: 10px;
    font-size: 28px;
    background: #192220;
    height: 28px;
    display: none;
    opacity: 0.8;
}

@media (max-width: 860px) {
    .main-view {
        left: unset;
        top: 18vh;
        margin: 25px;
        width: 80%;
    }
    .mobile-menu-btn {
        display: block;
    }
}
