.work-open {
    z-index: 300;
    background: #0000009e;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    height: 100vh;
}

.work-open-container {
    background: #e4e4e4;
    border-top: 10px solid var(--theme-blue);
    z-index: 991;
    margin: 20px;
    width: 85vw;
    position: relative;
    box-shadow: 0px 3px 10px 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
    max-width: 850px;
}
.work-open-content {
    z-index: 993;
}

.word-open-close-btn {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 22px;
}

.work-open-container > img {
    width: 33%;
    max-width: 250px;
    margin: 20px;
}
.work-open-right {
    width: 55%;
    min-width: 300px;
    margin: 20px;
}
.work-open-right > .d-flex {
    justify-content: space-between;
    margin: 15px 0px;
    align-items: center;
}
.work-open-right .title {
    font-size: 30px;
    font-weight: bold;
}
.work-open-right .timespan {
    font-size: 14px;
    background: #bbb;
    padding: 10px;
}

.work-open-bottom {
    width: 100%;
    margin: 20px;
}
.techstack {
    margin-bottom: 5px;
    padding: 5px 0px;
    color: var(--theme-red);
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    display: flex;
    flex-flow: wrap;
}
.techstack > .techstack-item {
    border: 2px solid #d1334d;
    padding: 2px 8px;
    margin-bottom: 5px;
    border-radius: 10px;
    margin-right: 5px;
}
.work-btns {
    display: flex;
    justify-content: flex-end;
}
.work-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 12px;
    margin: 0px 10px;
    background-color: var(--theme-red);
    color: white;
    font-size: 15px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
.work-btn:hover {
    background-color: #c82a4f;
}

.work-btn-icon {
    font-size: 25px;
    margin-left: 5px;
}

@media (max-width: 800px) {
    .work-open-right {
        width: 100%;
    }
    .work-open-container > img {
        width: 200px;
        height: 200px;
    }
    .work-open-container {
        width: 100vw;
    }
}
@media (max-width: 550px) {
    .work-open-right {
        margin: 10px;
    }
    .work-open-right .title {
        font-size: 25px;
    }
    .work-open-bottom {
        margin: 10px;
    }
    .work-open-container {
        justify-content: center;
        overflow-y: auto;
    }
    .techstack {
        font-size: 12px;
    }
    .techstack > .techstack-item {
        border: 1px solid #d1334d;
    }
}
