.menu-bar {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100vh;
    align-items: center;
    justify-content: space-around;
    position: relative;
    transition: margin 0.8s;
    z-index: 99;
}
.animated {
    margin-left: -140vw;
}

.menu-bg,
.menu-bg-color {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    z-index: -1;
}
.menu-bg-color {
    background: var(--theme-background);
    opacity: 1;
    z-index: -2;
}
.text-svg {
    transition: margin 2.5s;
    cursor: pointer;
}
.text-svg > svg {
    width: 100px;
}

.menu-btns {
    width: 100%;
}
.menu-btn {
    background-color: rgb(24 24 24 / 0.85);
    color: #909096;
    border-bottom: 1px solid #5c6866;
    font-size: 1.2rem;
    cursor: pointer;
    text-align: center;
    padding: 12px;
}
.menu-btn:hover {
    color: var(--theme-red);
}
.menu-btn.selected {
    color: var(--theme-blue);
    background: var(--theme-background);
}

.btn0 {
    transition: margin 0.5s;
}
.btn1 {
    transition: margin 0.65s;
}
.btn2 {
    transition: margin 0.85s;
}
.btn3 {
    transition: margin 1s;
}
.btn4 {
    transition: margin 1.15s;
}
.btn5 {
    transition: margin 1.3s;
}
.btn6 {
    transition: margin 1.5s;
}
.btn7 {
    transition: margin 1.6s;
}

.mobile-close-icon {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    color: white;
    padding: 10px;
    font-size: 28px;
    background: #192220;
    height: 28px;
    display: none;
    opacity: 0.8;
}

@media (max-width: 860px) {
    .menu-bar {
        position: fixed;
        width: 100vw;
        margin-left: -100vw;
    }
    .menu-bar.showing {
        margin-left: 0vw;
    }
    .mobile-close-icon {
        display: block;
    }
}
