#experience {
    top: 15vh;
    height: 75vh;
}
#experience.off {
    margin-left: -120vw;
}
#experience .content-container {
    overflow-y: auto;
    max-height: 65vh;
    margin-top: 10px;
}
.total-exp {
    background: #5c0d20;
    border-radius: 15px;
    padding: 5px 20px;
    width: fit-content;
    color: #c8dfd8;
    font-size: 18px;
    margin: auto;
}

.techstack-item {
    border: 1px solid #d1334d;
    padding: 2px 8px;
    margin-bottom: 5px;
    border-radius: 10px;
    margin-right: 5px;
}
