/* width */
::-webkit-scrollbar {
    width: 6px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    background: #1d1d1d;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    --theme-blue: #05fdd8;
    --theme-red: #fd2155;
    --theme-background: #132a27;
}

.d-none {
    display: none;
}
