#work.off {
    margin-left: 120vw;
}

.work-list {
    flex-flow: wrap;
}

.work-item {
    width: 20%;
}
.work-item > img {
    width: 100%;
    height: auto;
}

@media (max-width: 860px) {
    .work-item {
        width: 33%;
    }
}

@media (max-width: 550px) {
    .work-item {
        width: 50%;
    }
}
